div {
    text-align: center;
}
h1 {
    text-align: center;
    color: blue;
    font-family: 'Times New Roman', Times, serif;
}
img src {
    margin: 10px;
    text-align: center;
    width: 400px;
    height: 300px;
}

p {
    font-family: 'Times New Roman', Times, serif;
    font-size: 23px;
    text-align: justify;
}